doctype html
html
  head
    title= 'ethereum'
    <!-- link(type="text/css", rel="stylesheet", href="/main.min.css") -->
    script(type="text/javascript", src="public/js/bundle.js")
  body
    h1= 'mine'
    button#mine= 'mine'
