doctype html
html
  head
    title= 'ethereum'
    link(type="text/css", rel="stylesheet", href="/public/css/index.css")
    <!-- script(type="text/javascript", src="bundle.js") -->
  body
    iframe(src='#{url}')
